<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/1_1/plugin.xsd">
	<name>script-console</name>
	<description>Run your scripts in Jive SBS administration console</description>
	<author>Red Hat</author>
	<version>1.1.0</version>
	<minServerVersion>4.0.0</minServerVersion>

	<components>
		<component id="admin-console">
			<tab id="system">
				<section id="section-system">
					<item id="system-script-console" name="plugin.script-console.admin.console.name"
						  url="scripting-console-view.jspa"
						  description="plugin.script-console.admin.console.description"/>
				</section>
			</tab>
		</component>
	</components>

</plugin>
