<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/1_1/plugin.xsd">
	<name>${project.artifactId}</name>
	<description>${project.description}</description>
	<author>${project.developers[0].name}</author>
	<authorURL>${project.developers[0].url}</authorURL>
	<pluginURL>${project.url}</pluginURL>
	<version>${project.version}</version>
	<minServerVersion>${sbs.min.version}</minServerVersion>
	<maxServerVersion>${sbs.max.version}</maxServerVersion>

	<components>
		<component id="admin-console">
			<tab id="system">
				<section id="section-system">
					<item id="system-script-console" name="plugin.script-console.admin.console.name"
						  url="scripting-console-view.jspa"
						  description="plugin.script-console.admin.console.description"/>
				</section>
			</tab>
		</component>
	</components>

</plugin>
